#!/usr/bin/env xdg-open
[Desktop Entry]
Name=File Dispatch
Comment=Automatic file organization with user-defined rules
Exec=file-dispatch
Icon=com.filedispatch.FileDispatch
Terminal=false
Type=Application
Categories=Utility;FileTools;GTK;
Keywords=files;organize;automation;rules;hazel;
StartupWMClass=file-dispatch
